[submodule "core"]
	path = core
	url = https://github.com/cognitiveshadows03/core.git
[submodule "lyrics"]
	path = lyrics
	url = https://github.com/cognitiveshadows03/lyrics.git
[submodule "moriextractor"]
	path = moriextractor
	url = https://github.com/cognitiveshadows03/moriextractor
[submodule "IconPack"]
	path = IconPack
	url = https://github.com/cognitiveshadows03/IconPack
[submodule "morideobfuscator"]
	path = morideobfuscator
	url = https://github.com/cognitiveshadows03/morideobfuscator.git
